.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 80px;
  border-top: 1px solid #eaeaea;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#167013, #239334);
}

.footer p {
  color: white;
  font-size: large;
}

.title {
  margin-top: 0.9em;
  line-height: 0.4;
  font-size: 12rem;
  color: white;
}

.title2 {
  margin-top: 0.6rem;
  line-height: 0.5;
  font-size: 6.5rem;
}

.title,
.description {
  text-align: center;
  width: 60%;
}

.description {
  line-height: 1.5;
  font-size: 1.3rem;
}

.description li {
  line-height: 1.3;
  font-size: 1rem;
  text-align: center;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.logo {
  height: 1em;
}

.navbar {
  position: fixed;
  z-index: 10;
  background: radial-gradient(#167013, #239334);
  width: 100%;
  display: inline;
  top: 0;
  opacity: 0.95;
  padding-top: 0.2rem;
  padding-bottom: 0.1rem;
  box-shadow: 0px 3px 2px #70c17c;
}

.navbar li {
  display: inline;
  float: left;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.navbar li a {
  display: block;
  color: white;
  padding: 25px 16px;
}

/* TODO: Create dropdown button for mobile phone navbar (media query effect) */
@media (max-width: 600px) {
  .container,
  .main {
    width: 100%;
    flex-direction: column;
  }

  .navbar li {
    float: none;
    width: 100%;
    display: none;
  }

  .title {
    font-size: 6.5em;
    text-align: center;
    width: auto;
  }

  .title2 {
    width: auto;
    font-size: 4em;
    text-align: center;
  }
}
@media (min-width: 601px) and (max-width: 1180px) {
  .navbar li {
    float: none;
    width: 100%;
    display: none;
  }

  .title {
    font-size: 6.5em;
    text-align: center;
    width: auto;
  }

  .title2 {
    width: auto;
    font-size: 4em;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .navbar li {
    float: none;
    width: 100%;
    display: none;
  }

  .title {
    text-align: center;
    width: auto;
    font-size: 6em;
  }

  .title2 {
    width: auto;
    font-size: 3.5em;
    text-align: center;
  }
}
